## 資料庫連線

In [2]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
con.close()

## 操作資料庫

In [4]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    # 使用游標檢視資料
    cur.execute('SELECT SQLITE_VERSION();')
    # 拿取游標選取到的資料
    data = cur.fetchone()
    print(data)

('3.14.2',)

## 資料庫CRUD 操作

In [10]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 使用游標捨棄資料表
    cur.execute(''' DROP TABLE IF EXISTS PhoneAddress;
                ''')
    
    # 使用游標建立資料表
    cur.execute('''CREATE TABLE PhoneAddress(
                        phone   CHAR(10) PRIMARY KEY,
                        address TEXT,
                        name    TEXT NOT NULL,
                        age     INT NOT NULL
                    );                        
                ''')
    
    # 使用游標新增資料
    cur.execute("INSERT INTO PhoneAddress(phone, address, name, age)\
                 VALUES('0912173381','United State','JhonDoe',53);")
    cur.execute("INSERT INTO PhoneAddress(phone, address, name, age)\
                 VALUES('0928375018','Tokyo Japan','MuMuCat',6);")
    cur.execute("INSERT INTO PhoneAddress(phone, address, name, age)\
                 VALUES('0957209108','Taipei','Richard',29);")
    
    # 拿取游標撈取資料
    cur.execute('SELECT * FROM PhoneAddress;')
    
    data = cur.fetchall()
    print(data)

[('0912173381', 'United State', 'JhonDoe', 53), ('0928375018', 'Tokyo Japan', 'MuMuCat', 6), ('0957209108', 'Taipei', 'Richard', 29)]

## 資料修改

In [12]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 拿取游標撈取資料
    cur.execute('SELECT * FROM PhoneAddress;')
    
    data = cur.fetchall()
    print('BEFORE UPDATE:', data)
    
    # 使用游標新增資料
    cur.execute("UPDATE PhoneAddress SET address = 'Shenjian' \
                WHERE phone = '0957209108'; ")
    
    # 拿取游標撈取資料
    cur.execute('SELECT * FROM PhoneAddress;')
    
    data = cur.fetchall()
    print('AFTER UPDATE:', data)

BEFORE UPDATE: [('0912173381', 'United State', 'JhonDoe', 53), ('0928375018', 'Tokyo Japan', 'MuMuCat', 6), ('0957209108', 'Chiayi', 'Richard', 29)]
AFTER UPDATE: [('0912173381', 'United State', 'JhonDoe', 53), ('0928375018', 'Tokyo Japan', 'MuMuCat', 6), ('0957209108', 'Shenjian', 'Richard', 29)]

## 撈取資料

In [17]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 使用SELECT 語法操作資料庫
    # cur.execute('SELECT * FROM PhoneAddress;')
    cur.execute('SELECT phone, address, name, age \
                   FROM PhoneAddress;')
    
    data = cur.fetchone()
    print('GET ONE DATA:', data)
    
    print('===================')
    
    data = cur.fetchall()
    print('GET ALL DATA:')
    for rec in data:
        #print(rec)
        print(rec[0], rec[2])

GET ONE DATA: ('0912173381', 'United State', 'JhonDoe', 53)
===================
GET ALL DATA:
0928375018 MuMuCat
0957209108 Richard
0912345678 QOO

## 使用不同的SELECT 語法撈取資料

In [23]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 使用SELECT 撈取所有資料
    cur.execute('SELECT phone, address, name, age \
                   FROM PhoneAddress;')
    data = cur.fetchall()
    print('GET ALL DATA:')
    for rec in data:
        print(rec)
        
        
    # 使用WHERE 篩選資料
    cur.execute('SELECT phone, address, name, age \
                   FROM PhoneAddress WHERE age >= 30;')
    data = cur.fetchall()
    print('GET AGE ABOVE 30:')
    for rec in data:
        print(rec)
        
    # 使用ORDER BY 排序資料: ASC => 由小到大, DESC => 由大到小
    cur.execute('SELECT phone, address, name, age \
                   FROM PhoneAddress ORDER BY age DESC;')
    data = cur.fetchall()
    print('GET DATA BY AGE ORDER:')
    for rec in data:
        print(rec)
        
    # 使用LIMIT 限制資料筆數
    cur.execute('SELECT phone, address, name, age \
                   FROM PhoneAddress ORDER BY age DESC LIMIT 2;')
    data = cur.fetchall()
    print('GET 2 DATA BY AGE ORDER:')
    for rec in data:
        print(rec)

GET ALL DATA:
('0912173381', 'United State', 'JhonDoe', 53)
('0928375018', 'Tokyo Japan', 'MuMuCat', 6)
('0957209108', 'Shenjian', 'Richard', 29)
('0912345678', 'MARS', 'QOO', 12)
GET AGE ABOVE 30:
('0912173381', 'United State', 'JhonDoe', 53)
GET DATA BY AGE ORDER:
('0912173381', 'United State', 'JhonDoe', 53)
('0957209108', 'Shenjian', 'Richard', 29)
('0912345678', 'MARS', 'QOO', 12)
('0928375018', 'Tokyo Japan', 'MuMuCat', 6)
GET 2 DATA BY AGE ORDER:
('0912173381', 'United State', 'JhonDoe', 53)
('0957209108', 'Shenjian', 'Richard', 29)

## 使用SQL 做資料分析

In [27]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()

    # 使用COUNT 統計筆數
    cur.execute('SELECT COUNT(*) \
                   FROM PhoneAddress;')    
    cnt = cur.fetchone()
    print('GET DATA COUNTS:')
    print(cnt)
    
    # 使用AVG 計算平均年齡
    cur.execute('SELECT AVG(age) \
                   FROM PhoneAddress;')
    age = cur.fetchone()
    print('GET AVERAGE AGE:')
    print(age)

    # 新增性別欄位
    cur.execute('ALTER TABLE PhoneAddress \
                   ADD COLUMN gender;')
    
    cur.execute("UPDATE PhoneAddress SET gender = 'M';")    
    # 使用GROUP BY 根據性別計算平均年齡
    cur.execute('SELECT gender, AVG(age) \
                   FROM PhoneAddress GROUP BY gender;')
    data = cur.fetchall()
    print('GET AGE BY GENDER:')
    for rec in data:
        print(rec)

GET DATA COUNTS:
(4,)
GET AVERAGE AGE:
(25.0,)
GET AGE BY GENDER:
('M', 25.0)

## 將 FIC 資料匯入資料庫

In [28]:
import pandas
fic = pandas.read_excel('fic.xlsx')
fic.head()

,author,content,dt,source,title
0,kickingbird,2017年8月14日，湘西自治州報告一例人感染H7N9流感確診病例。患者莫某某，48歲，以收...,2017-08-15 11:58:00,湖南省疾病預防控制中心,中國：湖南省湘西自治州報告一例人感染H7N9流感確診病例
1,kickingbird,衛生署衛生防護中心今日（八月四日）正監察國家衛生和計劃生育委員會通報在七月二十八日至八月三日...,2017-08-05 19:19:00,香港衛生防護中心,中國：香港衛生防護中心獲通報福建人類感染甲型禽流感（H7N9）個案
2,kickingbird,農業部新聞辦公室8月1日發布，內蒙古自治區通遼市科爾沁區發生一起家禽H5N1亞型高致病性禽流...,2017-08-05 19:16:00,中國農業部,中國：內蒙古自治區通遼市科爾沁區發生一起家禽H5N1亞型高致病性禽流感疫情
3,kickingbird,有關陽性樣品說明：\n 一、H7亞型禽流感血清學陽性樣品（3018份）\n （一）北京...,2017-07-26 10:34:00,中國農業部,中國：2017年6月全國動物H7N9流感監測情況
4,kickingbird,香港衛生署衛生防護中心（七月二十一日）正監察國家衛生和計劃生育委員會通報在七月十四至二十日期...,2017-07-23 16:48:00,香港衛生防護中心,中國：香港衛生防護中心獲通報江蘇人類感染甲型禽流感(H7N9)個案

## 建立資料表

In [40]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 使用游標捨棄資料表
    cur.execute(''' DROP TABLE IF EXISTS fic;
                ''')
    
    # 使用游標建立資料表
    cur.execute('''CREATE TABLE fic(
                        content TEXT,
                        dt      DATETIME,
                        source  VARCHAR(100),
                        title   TEXT
                    );                        
                ''')

## 使用SQL 新增資料

In [41]:
# cur.execute("INSERT INTO PhoneAddress(phone, address, name, age)\
# VALUES('0912173381','United State','JhonDoe',53);")

INSERT_STMT = "INSERT INTO fic(content, source, title, dt) \
                        VALUES('{}','{}','{}','{}')"
for rec in fic.iterrows():
    content = rec[1]['content']
    source = rec[1]['source']
    title = rec[1]['title']
    dt = rec[1]['dt']
    #print(INSERT_STMT.format(content, source, title, dt))

## 使用SQL 新增資料 (II)

In [42]:
import sqlite3 as lite

INSERT_STMT = "INSERT INTO fic(content, source, title, dt) \
                        VALUES('{}','{}','{}','{}')"

# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    for rec in fic.iterrows():
        content = rec[1]['content']
        source = rec[1]['source']
        title = rec[1]['title']
        dt = rec[1]['dt']
        cur.execute(INSERT_STMT.format(content, source, title, dt))

## 使用Pandas 將DataFrame 匯入資料庫

In [44]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    fic.to_sql('fic_data', con = con)

## 從資料庫讀取資料

In [48]:
import pandas
# 建立連線
con = lite.connect('test.sqlite')
with con:
    df2 = pandas.read_sql_query('select source, count(*)as cnt from fic_data group by source order by count(*) desc limit 3', con = con)
df2

     source  cnt
0     中國農業部   12
1  河北省衛生計生委    9
2  重慶市衛生計生委    6

## 使用資料庫管理 OIE 資料

In [142]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import re


url = 'http://www.oie.int/wahis_2/public/wahid.php/Diseaseinformation/Immsummary'
reportURL = 'http://www.oie.int/wahis_2/public/wahid.php/Reviewreport/Review?page_refer=MapFullEventReport&reportid={}'
payload = {
'disease_type_hidden':'0',
'disease_id_hidden':'15',
'selected_disease_name_hidden':'Highly path. avian influenza (- -) ',
'disease_type':'0',
'disease_id_terrestrial':'15',
'disease_id_aquatic':'-999',
'year':'2017'
}

def getReportDetail(reportID):
    url  = reportURL.format(reportID)
    res  = requests.get(url)
    soup = BeautifulSoup(res.text, 'html.parser')
    country = soup.select('.Rap12-Subtitle')[0].contents[-1]
    
    # 使用prettify 可將 tag 轉換成字串
    dfs  = pandas.read_html(soup.select('.TableFoyers')[0].prettify())
    
    # 將資料轉置
    df = dfs[0].T
    # 將第一列變成欄位名
    df.columns = df.ix[0,]
    # 將第一列刪除
    df = df.drop(0)
    # 增添國家資訊
    df['country'] = country
    
    # 增添抓取時間
    df['search_time'] = datetime.now()
    
    #增添reportID
    df['reportID']  = reportID
    
    # 增添 reportURL
    df['reportURL'] = url
    return df



res = requests.post(url, data=payload)
soup = BeautifulSoup(res.text, 'html.parser')
alinks = soup.select('.vacborder a')

cnt = 0
report_ary = []
for link in alinks:
    if 'MapFullEventReport' in link['href']:
        # method 1: use split and strip
        reportid = link['href'].split(',',)[1].strip(');')
        report_ary.append(getReportDetail(reportid))
        
        # 當取得第五份報告時, 停止, 如果要取得所有報告, 就把下面程式碼拿掉
        cnt = cnt + 1
        if cnt == 5:
            break

reportdf = pandas.concat(report_ary)
reportdf.columns
reportdf = reportdf[(['reportID', 'reportURL', 'search_time', 'Causal agent', 'Date event resolved',
       'Date of confirmation of the event', 'Date of previous occurrence',
       'Date of start of the event', 'Date submitted to OIE',
       'Manifestation of disease', 'Nature of diagnosis',
       'Reason for notification', 'Related reports', 'Report date',
       'Report type', 'Serotype', 'This event pertains to', 'country'])]
reportdf = reportdf[(['reportID', 'reportURL', 'search_time', 'country'])]
reportdf.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

,reportID,reportURL,search_time,country
1,21433,http://www.oie.int/wahis_2/public/wahid.php/Re...,2017-09-20 16:21:56.849711,Algeria
1,21489,http://www.oie.int/wahis_2/public/wahid.php/Re...,2017-09-20 16:22:05.662071,Austria
1,21520,http://www.oie.int/wahis_2/public/wahid.php/Re...,2017-09-20 16:22:13.702123,Austria
1,22467,http://www.oie.int/wahis_2/public/wahid.php/Re...,2017-09-20 16:22:19.561161,Bangladesh
1,24102,http://www.oie.int/wahis_2/public/wahid.php/Re...,2017-09-20 16:22:26.176604,Belgium

## 使用Pandas 匯入整批資料

In [143]:
import pandas
import sqlite3 as lite
con = lite.connect('test.sqlite')
with con:
    reportdf.to_sql('OIE', con = con)

ValueError: Table 'OIE' already exists.

## 手動建立表格

In [138]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    # 使用游標捨棄資料表
    cur.execute(''' DROP TABLE IF EXISTS OIE;
                ''')
    
    # 使用游標建立資料表
    cur.execute('''CREATE TABLE "OIE" (
                  "reportID" TEXT PRIMARY KEY,
                  "reportURL" TEXT,
                  "search_time" TIMESTAMP,
                  "country" TEXT
                )                       
                ''')

In [139]:
reportdf = pandas.concat(report_ary)
reportdf.columns
reportdf = reportdf[(['reportID', 'reportURL', 'search_time', 'Causal agent', 'Date event resolved',
       'Date of confirmation of the event', 'Date of previous occurrence',
       'Date of start of the event', 'Date submitted to OIE',
       'Manifestation of disease', 'Nature of diagnosis',
       'Reason for notification', 'Related reports', 'Report date',
       'Report type', 'Serotype', 'This event pertains to', 'country'])]

reportdf = reportdf[(['reportID', 'reportURL', 'search_time', 'country'])]

In [141]:
import pandas
import sqlite3 as lite
con = lite.connect('test.sqlite')
with con:
    reportdf.to_sql('OIE', con = con, if_exists='append', index = None)

##  PANDAS 只能塞整批資料

In [116]:
import sqlite3 as lite
# 建立連線
con = lite.connect('test.sqlite')
with con:
    reportdf.to_sql('OIE', con = con, if_exists='replace', index=None)

## 使用SQLIte 一筆一筆塞

In [144]:
reportdf['search_time'] = reportdf['search_time'].dt.strftime('%Y-%m-%d %H:%M%:%S')

In [145]:
import sqlite3 as lite

INSERT_STMT = 'INSERT INTO OIE({}) VALUES({})'
#reportdf['search_time'] = reportdf['search_time'].dt.strftime('%Y-%m-%d')
# 建立連線
con = lite.connect('test.sqlite')
with con:
    # 建立游標 (Cursor)
    cur = con.cursor()
    
    for rec in reportdf.iterrows():
        try:
            data = rec[1].to_dict()

            columns = ', '.join(['"{}"'.format(ele) for ele in data.keys()])
            placeholder = ', '.join(['"{}"'.format(ele) for ele in data.values()])
            SQL = INSERT_STMT.format(columns, placeholder)
            #print(SQL)
            cur.execute(SQL)
        except:
            print(rec[0])

1
1
1
1