# Jupyter Notebook 簡介

## 美金換台幣

In [1]:
a = 75 
b = 30.1
a * b

2257.5

## 人民幣換台幣

In [3]:
b = 4.33
a * b

324.75

# Python 基礎

## Numbers

In [4]:
3 + 2 * 8

19

In [5]:
2

2

In [7]:
-2

-2

In [8]:
2.0

2.0

In [9]:
4E2

400.0

In [10]:
2 + 1

3

In [11]:
2 - 1

1

In [12]:
2 * 2

4

In [13]:
3 / 2

1.5

In [15]:
2 ** 3

8

In [16]:
4 ** 1/2

2.0

In [17]:
2 + 10 * 10 + 3

105

In [18]:
(2+10) * (10+3)

156

In [19]:
a = 5

In [20]:
a + a

10

In [21]:
a = 10

In [24]:
a = a + a

In [25]:
a

20

In [26]:
ntd_price = 25.6

In [28]:
exchange_rate = 32.33

In [29]:
ntd_price * exchange_rate

827.648

In [31]:
4 ** -1

0.25

In [34]:
2E-3

0.002

##  字串

In [35]:
a = 'hello world'

In [36]:
a + 3

TypeError: must be str, not int

In [37]:
# 這是註解
'this is a string'

'this is a string'

In [38]:
"this is also a string"

'this is also a string'

In [39]:
'I'm David'

SyntaxError: invalid syntax (<ipython-input-39-b3ab82be0922>, line 1)

In [40]:
"I'm David"

"I'm David"

In [41]:
'Hello World'

'Hello World'

In [42]:
'寶寶心裡苦, 但寶寶不說'

'寶寶心裡苦, 但寶寶不說'

In [43]:
'Hello World'
'寶寶心裡苦, 但寶寶不說'

'寶寶心裡苦, 但寶寶不說'

In [44]:
print('Hello World')
print('寶寶心裡苦, 但寶寶不說')

Hello World
寶寶心裡苦, 但寶寶不說

In [48]:
print('Hello world1')
print('Hello world2')
print('use \n to print new line')
print('\n')
print('See what I mean?')

Hello world1
Hello world2
use
 to print new line


See what I mean?

In [50]:
a = 'this is a looooooooooooooooooooooooooooo\
oooooooooooooooooooooon text'
a

'this is a looooooooooooooooooooooooooooooooooooooooooooooooooon text'

In [51]:
text = '''
今天是今年1-2月統一發票兌領最後一天，財政部清查發現，千萬特別獎發票開出17張只有11張來領，還有6張沒領，兌獎率才64%，比一般平均7成還低，200萬元中獎發票雖然開出10張，但也還有3張沒領，由於指定兌領200萬元、1000萬元指定兌領郵局儲匯窗口營業時間多在今天5點半前結束，呼籲中獎民眾把握最後時間，不要讓財神爺跑掉。
總計千萬特別獎開出473張，已兌領333張，兌領率70%，今天有6張發票未領到期，5張3-4月發票9月5日前都可兌獎。
'''
print(text)

今天是今年1-2月統一發票兌領最後一天，財政部清查發現，千萬特別獎發票開出17張只有11張來領，還有6張沒領，兌獎率才64%，比一般平均7成還低，200萬元中獎發票雖然開出10張，但也還有3張沒領，由於指定兌領200萬元、1000萬元指定兌領郵局儲匯窗口營業時間多在今天5點半前結束，呼籲中獎民眾把握最後時間，不要讓財神爺跑掉。
總計千萬特別獎開出473張，已兌領333張，兌領率70%，今天有6張發票未領到期，5張3-4月發票9月5日前都可兌獎。

In [52]:
# \n => new line
print('Here is a new line \n and here is the second line')

Here is a new line
 and here is the second line

In [53]:
text = '''
item price
a 300
b 200
'''
print(text)

item price
a 300
b 200

In [54]:
text = '''
item\tprice
a\t300
b\t200
'''
print(text)

item	price
a	300
b	200

In [57]:
s = 'hello'
s[0]

'h'

In [58]:
s[1]

'e'

In [59]:
s[-1]

'o'

In [60]:
s[-2]

'l'

In [56]:
s2 = '寶寶心裡苦, 但寶寶不說'
s2[0]

'寶'

In [61]:
s = 'Hello'
s[:]

'Hello'

In [62]:
s[1:]

'ello'

In [63]:
s[:3]

'Hel'

In [64]:
s[1:3]

'el'

In [65]:
s2 = '寶寶心裡苦, 但寶寶不說'
s2[0:2]

'寶寶'

In [68]:
s = 'Hello'
print(s)
print(s[:])
print(s[::1])

Hello
Hello
Hello

In [69]:
print(s[::2])

Hlo

In [70]:
print(s[0:4:2])

Hl

In [71]:
print(s[::-1])

olleH

In [74]:
s = '上海自來水來自海上'
s[::1]
s[::-1]
s[::1] == s[::-1]

True

In [75]:
title = '[號外] 寶傑被外星人綁架'
title[1:3]

'號外'

In [78]:
s = 'Hello'
#s[::1]

#for(i = 0 ; i < 5; i++ )
#   System.out.println(s[i])

s[0:5:1]
s[::1]

'Hello'

In [80]:
#for(i = 0 ; i < 5; i = i + 2 )
#   System.out.println(s[i])
s[0:5:2]
s[::2]

'Hlo'

In [89]:
#for(i = 5 ; i > 0 ; i = i -1 )
#   System.out.println(s[i])
s[5::-1]
s[::-1]

'olleH'

In [91]:
s[0]
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [94]:
s = s + ' David'

In [95]:
s

'Hello David'

In [101]:
letter = '?'
letter * 10

'??????????'

In [102]:
col = ['id', 'name', 'price', 'desc', 'dept']
# insert into table(id, name, price) values(?,?,?)
'insert into table({}) values({})'.format(','.join(col), ','.join('?' * len(col)))

'insert into table(id,name,price,desc,dept) values(?,?,?,?,?)'

In [104]:
a = 'hello there, I am david'
a.upper()

'HELLO THERE, I AM DAVID'

In [105]:
a.title()

'Hello There, I Am David'

In [106]:
a2 = 'HELLO I AM DAVID'
a2.lower()

'hello i am david'

In [107]:
type(a)

str

In [108]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [109]:
a = 'hello there, I am david'
a.count('d')

2

In [110]:
a = '''
今天是今年1-2月統一發票兌領最後一天，財政部清查發現，千萬特別獎發票開出17張只有11張來領，還有6張沒領，兌獎率才64%，比一般平均7成還低，200萬元中獎發票雖然開出10張，但也還有3張沒領，由於指定兌領200萬元、1000萬元指定兌領郵局儲匯窗口營業時間多在今天5點半前結束，呼籲中獎民眾把握最後時間，不要讓財神爺跑掉。
'''
a.count('發票')

3

In [111]:
a = 'hello there, I am david'
a.split()

['hello', 'there,', 'I', 'am', 'david']

In [112]:
a = '''
今天是今年1-2月統一發票兌領最後一天，財政部清查發現，千萬特別獎發票開出17張只有11張來領，還有6張沒領，兌獎率才64%，比一般平均7成還低，200萬元中獎發票雖然開出10張，但也還有3張沒領，由於指定兌領200萬元、1000萬元指定兌領郵局儲匯窗口營業時間多在今天5點半前結束，呼籲中獎民眾把握最後時間，不要讓財神爺跑掉。
'''
a.split('，')

['\n今天是今年1-2月統一發票兌領最後一天',
 '財政部清查發現',
 '千萬特別獎發票開出17張只有11張來領',
 '還有6張沒領',
 '兌獎率才64%',
 '比一般平均7成還低',
 '200萬元中獎發票雖然開出10張',
 '但也還有3張沒領',
 '由於指定兌領200萬元、1000萬元指定兌領郵局儲匯窗口營業時間多在今天5點半前結束',
 '呼籲中獎民眾把握最後時間',
 '不要讓財神爺跑掉。\n']

## String Format

In [113]:
unit = 'CDC'
name = 'David'
print(unit + " is " + name + "'s favorite")

CDC is David's favorite

In [115]:
x = 'String'
print('place my variable here: ' + x)
print('place my variable here: %s'%(x))

place my variable here: String
place my variable here: String

In [116]:
x = 13.3
print('place my variable here: %s'%(x))

place my variable here: 13.3

In [120]:
print('Floating Number: %s'%(13.145))
print('Floating Number: %1.2f'%(13.145))
print('Floating Number: %1.10f'%(13.145))
print('Floating Number: %25.3f'%(13.145))

Floating Number: 13.145
Floating Number: 13.14
Floating Number: 13.1450000000
Floating Number:                    13.145

In [121]:
print('Floating Number: %25.3f'%(13.145))
print('Floating Number: %25.3f'%(1314.5))

Floating Number:                    13.145
Floating Number:                  1314.500

In [122]:
print('Here is a number: %s. Here is a string: %s' %(123.1,'hi'))

print('Here is a number: %r. Here is a string: %r' %(123.1,'hi'))

Here is a number: 123.1. Here is a string: hi
Here is a number: 123.1. Here is a string: 'hi'

In [124]:
print('Here is a number: %s. Here is a string: %s' %(123.1,'hi\no\nhi'))

print('Here is a number: %r. Here is a string: %r' %(123.1,'hi\no\nhi'))

Here is a number: 123.1. Here is a string: hi
o
hi
Here is a number: 123.1. Here is a string: 'hi\no\nhi'

In [126]:
raw = '\n\t this is a \t line with format \t\n'
print(raw)

	 this is a 	 line with format

In [127]:
# 使用 r 取得raw string
raw = r'\n\t this is a \t line with format \t\n'
print(raw)

\n\t this is a \t line with format \t\n

In [128]:
# 使用 repr 取得string 中的表示
raw = repr('\n\t this is a \t line with format \t\n')
print(raw)

'\n\t this is a \t line with format \t\n'

In [129]:
# 根據樣式替代
print('This is a string with an {p}'.format(p='insert'))

This is a string with an insert

In [130]:

# 根據樣式替代多字串
print('One: {p}, Two: {p}, Three: {p}'.format(p='Hi!'))

One: Hi!, Two: Hi!, Three: Hi!

In [131]:
# 根據多樣式替代
print('Object 1: {a}, Object 2: {b}, Object 3: {c}'.format(a=1,b='two',c=12.3))

Object 1: 1, Object 2: two, Object 3: 12.3

In [132]:
# 根據位置替代
print('One: {0}, Two: {1}, One: {0}'.format(1,2))

One: 1, Two: 2, One: 1

In [135]:
catarticle = 'http://www.appledaily.com.tw/realtimenews/article/animal/{0}/1153390/%E8%B2%93%E5%92%AA%E8%A1%A8%E6%83%85%E8%B6%85%E7%B4%9A%E6%80%92%E7%B6%B2%E5%8F%8B%E9%80%99%E6%A8%A3%E8%A7%A3%E8%AE%80'.format('20170705')
catarticle

'http://www.appledaily.com.tw/realtimenews/article/animal/20170705/1153390/%E8%B2%93%E5%92%AA%E8%A1%A8%E6%83%85%E8%B6%85%E7%B4%9A%E6%80%92%E7%B6%B2%E5%8F%8B%E9%80%99%E6%A8%A3%E8%A7%A3%E8%AE%80'

## 資料輸入

In [7]:
print('Hello World')

Hello World

In [8]:
input('How are you?')

How are you?Good

'Good'

In [9]:
answer = input('How are you?')

How are you?Great

In [10]:
input('How are you?')

How are you?Good

'Good'

In [12]:
# raw_input exist in python 2 only
#raw_input('how are you?')

## List

In [14]:
a = [1,2,3]
type(a)

list

In [15]:
a = ['string', 10,  3.0, 'o']
a

['string', 10, 3.0, 'o']

In [16]:
len(a)

4

In [19]:
a = [5, 6, 7, 's'] # a = [5 6 7 ‘s’] 
print(a[0]) # 5
print(a[2:4]) # [7, ‘s’] 
print(a[-1]) # ‘s’ 
print(a[-2]) # 7
print(a[2:]) # [7, ‘s’]
print(a[::2]) # [5, 7]
print(a[::-1]) # [‘s’, 7, 6, 5]
print(len(a)) # 4
#print([min(a), max(a)]) # [5, ‘s’]

5
[7, 's']
s
7
[7, 's']
[5, 7]
['s', 7, 6, 5]
4

In [26]:
heights = [180,172,193,166,167]
min(heights)
max(heights)
sum(heights)
sum(heights) / len(heights)

175.6

In [32]:
a = [5,6,7,8]
print(a)
a.pop()
print(a)
a.append(2)
print(a)
a.sort()
print(a)
a.reverse()
print(a)

[5, 6, 7, 8]
[5, 6, 7]
[5, 6, 7, 2]
[2, 5, 6, 7]
[7, 6, 5, 2]

In [33]:
a = 'hello world'
list(a)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [34]:
'e' in a

True

In [35]:
'a' in a

False

In [36]:
a = [1,2,3]
b = a
a[1] = 2000
b

[1, 2000, 3]

In [37]:
import copy
a = [1,2,3]
aa = copy.deepcopy(a)
a[1] = 2000
aa

[1, 2, 3]